/* PHASE 1: Header */

body {
  font-family: sans-serif;
  font-size: 16px;

}

.header {
  background: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}



.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}




/*
SPECS
=====================
Colors

Black: #000
White: #fff
Dark Gray: #aaa
Gray: #ccc
Light Gray: #eee
Red: #f00
Type

Font Family: sans-serif
Font Weights: 400, 700
Font Sizes: 24px, 16px, 14px
Borders

Thickness: 1px
Layout

Whitespace: 5px, 10px, 20px
Total Size Container: 900px
Total Size Sidebar: 240px
Total Size Content: 660px
===============================*/
