/* PHASE 3: Content */

.content {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;
  background: white;
}

.content-main {
  float: left;
  width: 620px;
  padding: 20px;
  background: white;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.content p {
  background: white;

}


/*
SPECS
=====================
Colors

Black: #000
White: #fff
Dark Gray: #aaa
Gray: #ccc
Light Gray: #eee
Red: #f00
Type

Font Family: sans-serif
Font Weights: 400, 700
Font Sizes: 24px, 16px, 14px
Borders

Thickness: 1px
Layout

Whitespace: 5px, 10px, 20px
Total Size Container: 900px
Total Size Sidebar: 240px
Total Size Content: 660px
===============================*/
