/* PHASE 4: Footer */

.footer {
  background: white;
  width: 900px;
  margin: 0 auto 50px auto;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footer-copy {
  padding: 20px;
  display: inline-block;
  background: white;
}

.footer-links {
  padding: 20px;
  display: inline-block;
  background: white;
}

/*
SPECS
=====================
Colors

Black: #000
White: #fff
Dark Gray: #aaa
Gray: #ccc
Light Gray: #eee
Red: #f00
Type

Font Family: sans-serif
Font Weights: 400, 700
Font Sizes: 24px, 16px, 14px
Borders

Thickness: 1px
Layout

Whitespace: 5px, 10px, 20px
Total Size Container: 900px
Total Size Sidebar: 240px
Total Size Content: 660px
===============================*/
